    # Dependencies
    node_modules/
    
    # Environment
    .env
    .env.local
    
    # Build
    /client/dist
    /server/dist
    
    # Logs
    npm-debug.log*
    
    # OS
    .DS_Store

    #document
    DOCUMENTATION.md
    DOCUMENTATION.pdf